body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
#header-top {
    width: 1165px;
    height: 145px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #E0E3E3;
}
.header-social-icons {
    margin: 30px 3px;
    width: 30%;
}
.fa-facebook-f {
    margin-left: 10px;
    font-size: 15px;
    color: gray;
    padding: 5px 10px;
    border-radius: 50%;
    border: 1px solid #E0E3E3 ;
}
.fa-facebook-f:hover {
    border-color: white;
    transition: 0.2s;
}
.fa-instagram {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 15px;
    color: gray;
    border-radius: 50%;
    border: 1px solid #E0E3E3;
}
color: #838d8f;
    border: 1px solid #D9D9D9

.fa-instagram:hover {
    border-color: white;
    transition: 0.2s;
}

.fa-linkedin-in {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 15px;
    color: gray;
    border-radius: 50%;
    border: 1px solid#E0E3E3;
}

.fa-linkedin-in:hover {
    border-color: white;
    transition: 0.2s;
}
.header-title {
    text-align: center;
    width: 40%;
}
.header-title h1{
font-size:38px;
margin-top:-10px;
font-weight:bold;
letter-spacing:9px;
display:inline-block;
}
.header-title p{
    margin-top:-25px;
    font-size:14px;
    color:#838d8f;
}
.header-subscribe {
    text-align: center;
    width: 30%;
    margin: 30px 3px;
}
.btn {
    display:inline-block;
    border: 1px solid #D9D9D9;
    float:right;
    color: #838d8f;
    font-size:12px;
    padding:5px 30px;
}
.btn p{
    color: #838d8f;2
}
.btn:hover{
    text-decoration:none;
    color:white;
    background-color:black;
}
@media only screen and (max-width: 600px) {
    .header-top {
        display: flex;
        display: column;
        width: 100%;
    }
    .header-social-icons,
    .header-title,
    .header-subscribe {
        width: 900%;
        margin: auto;
    }
}
#header-bottom{
    width: 1165px;
    height: 90px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.menu-icon{
    margin:5px 3px;
    width:15%;
    border-right:1px solid #E0E3E3;
}
.menu-icon:hover{
    color:gray;
}
.menu{
    text-align: center;
    width:70%;
}
.search-icon{
    text-align:right;  
    width: 15%;
    margin:5px 3px;
    border-left:1px solid   #E0E3E3;
}
.search-icon:hover{
    color:gray;
}
.menu ul li{
    display:inline-block;
    font-size:14px;
    color:gray;
}
.menu ul{
    word-spacing:60px;
    letter-spacing:2px;
    text-align:center;
}
.menu ul li:hover{
    color:#42665A;
    transition:0.2s;
    text-decoration:underline;
    font-size:16px;
}
.sample-post{
width:1800px;
float:left;
height:440px;
}
.about-sample-post{
    float:left;
    width:60%;
    display: inline-block;
}
.sample-post-image{
    float:left;
    width:1080px;
    height:440px;
background-repeat:no-repeat;
background-image:url("http://wp.magnium-themes.com/himmelen/himmelen-0/wp-content/uploads/2015/09/himmelen-pic111-1140x660.jpg");
}
.sample-post-details{
 float:left;
 width:40%;
}
.sample-post-part{
 float:left;
 width:720px;
 height:440px;
 background-color:#4B806E;
}
#posts-name{
     margin: auto;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items:stretch;
     box-sizing: border-box;
     width:1800px;
     float:left;
     height:100px;
    background-color:#9FAFAA;
}
.stories-posts{
    width:20%;
    float:left;
    height:100px;
}
.travel-posts{
    width:20%;
    float:left;
    height:100px;
}
.stories-posts-again{
    width:20%;
    float:left;
    height:100px;
}
.inspiration-posts{
    width:20%;
    float:left;
    height:100px;
}
.inspiration-posts-again{
    width:20%;
    float:left;
    height:100px;
}
#contact-post{
    margin:0;
    padding:0;
    width:100%;
    height:400px;
}
.contact-image{
    width:100%;
    height:350px;
    background-size:cover;
    background-repeat:no-repeat;
    background-image:url("https://wallpapercave.com/wp/wp3176613.jpg");
}
.contact-image h3{
    color:white;
    text-align:center;
    align-items:center;
    display:inline-block;
    margin-top:150px;}
#contact-information{
    width:1100px;
    height:800px;
    background-color:##C3D1CC;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.contact-left{
width:600px;
height:800px;
display:inline-block;
box-sizing: border-box;
float:left;
}
.contact-left p{
line-height:23px;
}
.contact-left h3{
    color:gray;
    display:inline-block;
    font-size:18px;
    line-height:15px;
}
.contact-right{
width:500px;
height:800px;
display:inline-block;
float:left;
}
.contact-right h5{
    display:inline-block;
}
input{
    width:100%;
    box-sizing:border-box;
    border-radius:2px;
    border:1px solid #C3D1CC;
    height:40px;
}
.message{
    height:150px;
}
.contact-send{
    border:1px solid gray;
    font-size:14px;
    border-radius:2px;
    padding:5px 20px;
    margin-top:20px;
    display:inline-block;
}
.contact-send:hover{
    transition:0.2s;
    color:white;
    background-color:gray;
}
}
.weekend-image-first{
    width:100%;
    height:400px;
    background-size:cover;
    background-repeat:no-repeat;
    background-image:url("https://wallpapercave.com/wp/wp2534955.jpg");
}
.weekend-first-image-writing{
    text-align:center;
    align-items:center;
    color:white;
    display:inline-block;
    line-height:0.7;
    letter-spacing: 1px;
}
.weekend-first-image-writing p{
    font-size:12px;
}
#weekend-post-main-left{
    margin-top:50px;
    width: 770px;
    height: 1500px;
    float:left;
}
#weekend-post-main-right{
    margin-top:50px;
width:330px;
height:1500px;
float:right;
}
.weekend-post-first-writing{
    margin-top:50px;
    width:770px;
    height:150px;
    box-sizing:border-box;
}
.weekend-post-image-second{
    margin-top:150px;
    width:770px;
    height:500px;
    background-size:cover;
    background-repeat:no-repeat;
    background-image:url("http://wp.magnium-themes.com/himmelen/himmelen-0/wp-content/uploads/2015/09/himmelen-pic6.jpg");
}
.weekend-post-image-third{
    margin-top:20px;
    width:770px;
    height:500px;
    background-size:cover;
    background-repeat:no-repeat;
    background-image:url("http://wp.magnium-themes.com/himmelen/himmelen-0/wp-content/uploads/2015/09/himmelen-pic9.jpg");
}
.thomas-merton-stat{
    width:770px;
    height:150px;
    background-color:gray;
}
.fa-quote-right{
    font-size:20px;
    margin-top:30px;
}
.thomas-merton-stat p,span{
    font-size:17px;
    margin:20px 20px;
    margin-left:30px;
}
.category-inspiration{
    width:100%;
    height:150px;
    background-color:gray;
}
.category-inspiration span{
font-size:13px;
top:50px;
}
.category-inspiration h1{
    
}
.about-page-himmelen-part{
    width:100%;
    height:150px;
    background-color:#ECECEC;
}
.about-page-himmelen-part h2{
    letter-spacing:1px;
    margin-top:60px;
    display:inline-block;
}
.about-image-first{
    width:1165px;
    height:430px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align:center;
    background-repeat:no-repeat;
    background-image:url("http://wp.magnium-themes.com/himmelen/himmelen-0/wp-content/uploads/2015/09/about-page-photo.jpg");
}
.about-some-words h2{
    text-align:center;
    align-items:center;
}
main{
    width:1165px;
    height:600px;
    margin:auto;
    align-items: center;
    text-align:center;
}
#main-left{
  width:582px;
    height:600px;
  float:left;
}
#main-right{
width:583px:
height:600px;
float:right;
}
#main-left span{
font-size:12px;
display:inline-block;
float:left;
text-align:left;   
align-items:left;
}
#main-left p{
    float: left;
}
#main-right span{
    display:inline-block;
    font-size:12px;
    float:right;
    text-align:right;    
    align-items:right;
}
#main-right p{
    float:right;
}
#about-some-parts{
width: 1165px;
height: 545px;
margin: auto;
display: flex;
flex-direction: row;
align-items: center;
}
.about-post-instagram{
width:33%;
height: 545px;
float:left;
}
.about-post-instagram-image{
    width:auto;
    height:300px;
    background-image:url("http://wp.magnium-themes.com/himmelen/himmelen-0/wp-content/uploads/2015/09/about-page-3.jpg");
    background-repeat:no-repeat;
}
.about-post-blog{
width:33%;
height: 545px;
float:center;;
}
.about-post-blog-image{
    height:300px;
    width:auto;
    background-repeat:no-repeat;
background-image:url("http://wp.magnium-themes.com/himmelen/himmelen-0/wp-content/uploads/2015/09/about-page-1.jpg");
}
.about-post-travel{
    width:33%;
height: 545px;
float:right;
}
.about-post-travel-image{
    width:auto;
    height:300px;
    background-repeat:no-repeat;
background-image:url("http://wp.magnium-themes.com/himmelen/himmelen-0/wp-content/uploads/2015/09/about-page-2.jpg");
}
footer{
    width:100%;
    height:350px;
    margin:auto;
    background-color:#A49F9F;
}